<div class="container m-4">
    <div class="card">
        <div class=" text-primary">
        <h1> Mi link favorite </h1>
        </div>
        <div class="body p-4">
            <small class="lead text-justify">
            aplicacion mi link favorite, permite regstrar tus link de preferencias,
            y manternerlo organizado para mejor entendimiento
            </small>
        </div>
       </div> 
    </div>